.key_special {
  height: 3rem;
  width: 48rem;
  padding-inline: 8px;
  border-radius: 4px;
  font-size: 2rem;
  user-select: none;
}

.key_enter {
  border: 2px solid hsl(150deg 70% 30%);
  background-color: hsl(150deg 70% 30%);
}

.key_delete {
  border: 2px solid hsl(0deg 70% 45%);
  background-color: hsl(0deg 70% 45%);
}
